
<!-- ##adding a little logic on view -->
<% if @guess == @computer_guess %>
	<h1>Congratulations! You won! </h1>
	<h4>The secret number was <%= @computer_guess %></h4>
	<p><%= image_tag 'games/cat-wins.gif' %></p>
<% else %>
	<h1>Sorry you lose!</h1>
	<h3>You guessed <%= @guess %> but the number was <%= @computer_guess %></h3>
	<p><%= image_tag 'games/loser.gif' %></p>
<% end %>

<p><%= link_to 'play again?', new_secret_path %></p>


<!-- 
# <%= if => shows
# <%  does not show -->